* {
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #b89b9b;
}

.container{
    width: 85%;
    margin: auto;
    background-color: #fff;
    overflow: auto;
}

.header{
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul{
    font-size: 40px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 5px;
}

.header a{
    text-decoration: none;
    color: salmon;
    padding: 6px;
}

.header a:hover{
    background-color: rgba(209, 218, 217, 0.827);
    border-radius: 5px;
    color: maroon;
    transition: 0.3s ease-in-out;
}

.hero .background{
    height: 220px;
    margin-top: 10px;
    background-image: url("hero/background.jpg");
    background-size: cover;
    background-position: 0 -180px;
    border-top: 5px solid lightskyblue;
    border-bottom: 5px solid red;
}

.hero .background4{
    height: 300px;
    margin-top: 10px;
    background-image: url("hero/background.jpg");
    background-size: cover;
    background-position: 0 -180px;
    border-top: 5px solid lightskyblue;
    border-bottom: 5px solid red;
}


.hero .background4 h1{
    float: left;
    margin: 0 20px;
    font-family: 'Georgia', Times New Roman, Times, serif;
    width: 50%;
}

.hero .background4 h3{
    float: left;
    padding: 15px 0;
    margin: 2px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 50%;
}

.hero .background4 a{
    text-decoration: none;
    color: maroon;
}

.hero .background4 span{
    background-color: salmon;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid gray;
}

.hero .background4 span:hover{
    background-color: rgb(255, 167, 157);
    box-shadow: 2px 2px 5px #777;
    transition: 0.2s ease-in-out;
}

.hero .background4 .kanan{
    margin-top: 30px;
    margin-right: 65px;
}

.hero .background4 .kanan img{
    width: 200px;
    float: right;
    border: 2px dashed rgb(45, 43, 43);
    border-radius: 100px;
    text-align: right;
}

.hero .background1{
    height: 30px;
    margin-top: 20px;
    background-image: url("hero/background1.jpg");
    background-position: 0 180px;
    border-top: 5px solid lightskyblue;
    border-bottom: 5px solid red;
}

.hero .background2{
    height: 180px;
    margin-top: 10px;
    background-image: url("hero/background1.jpg");
    background-size: cover;
    background-position: 0 -130px;
    border-top: 5px solid lightskyblue;
    border-bottom: 5px solid red;
}

.hero .background3{
    height: 30px;
    margin-top: 20px;
    background-image: url("hero/background.jpg");
    background-position: 0 180px;
    border-top: 5px solid lightskyblue;
    border-bottom: 5px solid red;
}

.content{
    padding: 20px;
    overflow: auto;
}

.content1{
    padding: 20px;
    overflow: auto;
    width: 75%;
    background-color: aliceblue;
    z-index: 0;
    margin-left: 10%;
    margin-top: -55px;
    margin-bottom: auto;
    border: 1px solid gray;
    box-shadow: 3px 3px 5px gray;
}

.content .kanan img{
    border-radius: 15px;
    border: 1px solid gray;
    box-shadow: 3px 3px 10px gray;
    width: 60%;
    height: auto;
    margin-right: -80px;
}

.content .kiri{
    text-align: justify;
    width: 60%;
    float: left;
}

.content .kanan{
    width: 30%;
    float: left;
    text-align: right;
}

.content1 table{
    align-items: center;
    margin: 10px;
    padding: 30px 0;
    position: relative;
}

.content1 table p{
    text-align: justify;
    padding: 40px 0;
    margin: 10px;
}


.content1 table span{
    font-weight: 800;
}

.content1 img{
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: 2px 2px 10px  gray;
    padding: 10px 10px;
    /* margin: -25px 10px; */
    width: 35px;
}

#mobileApps-icon{
    margin-top:-20px;
}

.about{
    background-image: url(hero/background1.jpg);
    background-position: 0 -px;
    box-shadow: 2px 2px 5px #333;
    border-radius: 5px;
    text-align: justify;
    margin: 0 25%;
    padding: 10px 10px;
}

.about h2{
    font-family: 'Times New Roman', Times, serif;
    font-style: initial;
    margin: 3px 0;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}

.about img{
    height: 200px;
    border: 3px solid gray;
    box-shadow: 3px 3px 8px #777;
    width: auto;
    margin: 4% 31%;
    border-radius: 100px;
}

.social{
    text-align: center;
}

.social ul li {
    display: inline;
    list-style-type: none;
}

.social ul li a{
    text-decoration: none;
}

.social img{
    width: 30px;
    padding: 0 10px;
    filter: opacity(50%);
}

.social img:hover{
    width: 35px;
    transition: 0.3s ease-in-out;
    filter: opacity(100%);
}

.social1{
    margin-top: -15px;
    margin-left: -4px;
}

.social1 ul li {
    display: inline;
    list-style-type: none;
}

.social1 ul li a{
    text-decoration: none;
}

.social1 img{
    width: 30px;
    padding: 0 5px;
    filter: opacity(50%);
}

.social1 img:hover{
    transition: 0.3s ease-in-out;
    filter: opacity(100%);
}

.contact{
    background-color: rgba(209, 218, 217, 0.827);
    box-shadow: 2px 2px 5px gray;
    border-radius: 15px;
    margin: 0 auto;
    padding: 15px;
    width: 25%;
}

.contact h2{
    text-align: center;
}

.contact ul li{
    list-style-type: none;
}

.contact ul li a{
    text-decoration: none;
}

.contact input[type=text]{
    border-radius: 5px;
    border: 1px solid gray;
    padding: 6px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
}

.contact input[type=submit]{
    background-color: #b89b9b;
    color: white;
    padding: 6px 6px;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid gray;
}

.contact input[type=submit]:hover{
    background-color: #9d8383;
    transition: 0.3s ease-in-out;
}

div.gallery{
    margin: 1% 1%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    float: left;
    width: 185px;
}

div.gallery img{
    width: 100%;
    height: 105px;
}

div.gallery:hover{
    border: 1px solid #777;
    box-shadow: 2px 2px 6px gray;
    transition: 0.3s ease-in-out;
}

div.gallery a{
    text-decoration: none;
}

div.desc{
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    font-size: 14px;
    color: maroon;
}

div.desc:hover{
    color: rgb(239, 58, 58);
    transition: 0.3s ease-in-out;
}

.jdlgallery h2{
    margin: 20px 10px;
}

.footer{
    background-color: #333;
    padding: 10px;
}

.footer .copy{
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}